* {
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #E85C0D;
    align-items: center;
    height: 100vh;
    color: #FABC3F;
}

header {
    padding: 10px;
    background-color: #821131;
    width: 100vw;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.title-logo {
    display: flex;

}

.title-logo h2 {
    font-size: 1.7rem;
    padding-top: 8px;
}

.logo {
    border: none;
    height: 60px;
}

.buttons {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    font-family: 'Poppins', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #C7253E;
    width: 5rem;
    height: 1.5rem;
    border: none;
    border-radius: 3px;
    color: #FABC3F;
}

button:hover {
    background-color: #eb465e;
}

#content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100vh;
    width: 70vw;
}

.description {
    margin: 10px;
}

.description p {
    background-color: #C7253E;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
}

img {
    margin: 20px;
    height: 200px;
    border: 3px solid #C7253E;
}

.food {
    text-align: center;
}